<div class="account">
  <h2 class="account__title">Personal info</h2>
  <div class="account__content">
    <ul class="account__list">
      <li class="account__item _active-item">Personal info</li>
      <li class="account__item">History</li>
      <li class="account__item _last-item">Log out X</li>
    </ul>
    <div class="account__personal-info">
      <h3 class="account__personal-info-title">Contacts</h3>
      <div class="account__input-container">
        <span class="account__input-text">Name:</span>
        <input class="account__name-input">
      </div>
      <div class="account__input-container">
        <span class="account__input-text">Surname:</span>
        <input class="account__name-input">
      </div>
      <div class="account__input-container">
        <span class="account__input-text">Phone number:</span>
        <input class="account__name-input">
      </div>
      <div class="account__input-container">
        <span class="account__input-text">Email:</span>
        <input class="account__name-input">
      </div>
      <button class="account__save-button">
        <span class="account__save-button-text">Save change</span>
      </button>
    </div>
  </div>
</div>
