<div class="auth">
  <div class="auth__content">
    <div class="auth__header">
      <h2 class="auth__title">LOG IN</h2>
      <div class="auth__email">
        <span class="auth__subtext">Email:</span>
        <br>
        <input class="auth__email-input">
      </div>
      <div class="auth__password">
        <span class="auth__subtext">Password:</span>
        <br>
        <input class="auth__password-input">
      </div>
      <div class="auth__buttons">
        <button class="auth__button _log-in">
          <span class="auth__button-text">Log in</span>
        </button>
        <button class="auth__button _reg">
          <span class="auth__button-text">Registration</span>
        </button>
      </div>
    </div>
  </div>
</div>
