<div class="posters">
  <header class="posters__header">
    <div class="posters__search">
        <input class="posters__input" placeholder="Search">
        <div class="posters__cross"></div>
        <button class="posters__find-button">
          <span class="posters__find-button-text">Find</span>
        </button>
    </div>
  </header>
  <body class="posters__body">
    <h2 class="posters__title">Watch today:</h2>
    <div class="posters__slider">
      <button class="posters__button _prev">
        <div class="posters__arrow-icon"></div>
      </button>
      <ul class="posters__list">
        <li class="posters__item">
          <div class="posters__movie">
            <img class="posters__movie-poster" src="../assets/loveSize.png">
          </div>
          <span class="posters__movie-title">Love without size</span>
        </li>
        <li class="posters__item">
          <div class="posters__movie">
            <img class="posters__movie-poster" src="../assets/red.png">
          </div>
          <span class="posters__movie-title">Red</span>
        </li>
        <li class="posters__item">
          <div class="posters__movie">
            <img class="posters__movie-poster" src="../assets/triggered.png">
          </div>
          <span class="posters__movie-title">Triggered</span>
        </li>
        <li class="posters__item">
          <div class="posters__movie">
            <img class="posters__movie-poster" src="../assets/archer.png">
          </div>
          <span class="posters__movie-title">Archer</span>
        </li>
        <li class="posters__item">
          <div class="posters__movie">
            <img class="posters__movie-poster" src="../assets/avatar2.png">
          </div>
          <span class="posters__movie-title">Avatar 2</span>
        </li>
<!--        <li class="posters__item">-->
<!--          <div class="posters__movie">-->
<!--            <img class="posters__movie-poster" src="../assets/black.png">-->
<!--          </div>-->
<!--          <span class="posters__movie-title">Black Widow</span>-->
<!--        </li>-->
        <li class="posters__item">
          <div class="posters__movie">
            <img class="posters__movie-poster" src="../assets/flash.png">
          </div>
          <span class="posters__movie-title">Flash</span>
        </li>

      </ul>
      <button class="posters__button _next">
        <div class="posters__arrow-icon"></div>
      </button>
    </div>
  </body>
</div>
