<div class="poster">
  <div class="poster__image">
    <img src="../assets/archer2.png">
  </div>
  <div class="poster__content">
    <h2 class="poster__title">Archer</h2>
    <div class="poster__info">
      <h3 class="poster__second-title">About film</h3>
      <ul class="poster__list">
        <li class="poster__item">
          <span class="poster__item-title">Year:</span> <span class="poster__item-description">2021</span>
        </li>
        <li class="poster__item">
          <span class="poster__item-title">Country:</span> <span class="poster__item-description">USA</span>
        </li>
        <li class="poster__item">
          <span class="poster__item-title">Genre:</span> <span class="poster__item-description">Horror, Action</span>
        </li>
        <li class="poster__item">
          <span class="poster__item-title">Director:</span> <span class="poster__item-description">2021</span>
        </li>
        <li class="poster__item">
          <span class="poster__item-title">World premiere:</span> <span class="poster__item-description">2021</span>
        </li>
        <li class="poster__item">
          <span class="poster__item-title">Age:</span> <span class="poster__item-description">12+</span>
        </li>
        <li class="poster__item">
          <span class="poster__item-title">Duration:</span> <span class="poster__item-description"> 163 min. / 02:43</span>
        </li>
      </ul>
      <div class="poster__buttons">
        <div class="poster__mark">
          <span class="poster__mark-title">Mark: </span>
          <span class="poster__mark-average">7.3</span>
          <span class="poster__mark-total">20K</span>
        </div>
        <button class="poster__button">
          <span class="poster__button-text">Buy ticket</span>
        </button>
      </div>
    </div>
  </div>
</div>
