<div class="home">
  <img class="home__picture" src="./assets/venom.png">
  <div class="home__content">
    <h3 class="home__title">Сhoose a movie you like and have a great time</h3>
    <p class="home__gold-text">100% Quality Guranty</p>
    <p class="home__subtitle">All the Lorem Ipsum generators on the Internet tend to predefined chunks  this the first true generator on the Internet. </p>
    <p class="home__gold-text">Start From</p>
    <div class="home__price">
      2.99 USD
    </div>
    <button class="home__button">Buy now</button>
  </div>
  <div class="home__movie-slider">
      <ul class="home__list">
        <li class="home__item">
          <img class="home__item-picture" src="./assets/film1.png">
          <span class="home__item-text">Lorem ipsum dolor.</span>
        </li>
        <li class="home__item">
          <img class="home__item-picture" src="./assets/film2.png">
          <span class="home__item-text">Lorem ipsum dolor.</span>
        </li>
        <li class="home__item">
          <img class="home__item-picture" src="./assets/film3.png">
          <span class="home__item-text">Lorem ipsum dolor.</span>
        </li>
      </ul>
      <button class="home__down-button _down">
        <div class="home__arrow-icon"></div>
      </button>
  </div>
</div>
